@import "generals/generals";
@import "normalize/normalize";
@import "fonts/fonts";
@import "block/block";

.search-input {
    &:focus {
        box-shadow: none !important;
        border: 1px solid #6c757d !important;
        border-left: none !important;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-wrapper{
    background: #fff;
    height: 100vh;
    width: 33%;
}